.radio-button {
    display: inline-block;
}
.radio-button__radio {
    display: inline-block;
    position: relative;
    color: blue;
}
.radio-button__label {
    display: inline-block;
    padding: 3px 5px;
    text-decoration: underline;
}
.radio-button__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radio-button__input:checked + .radio-button__label {
    color: #656565;
    text-decoration: none;
}
