.radio-button {
    display: inline-block;
    background: #eee;
}
.radio-button__radio {
    display: inline-block;
    position: relative;
}
.radio-button__label {
    padding: 3px 5px;
}
.radio-button__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.radio-button__input:checked + .radio-button__label {
    background: rgba(0, 0, 0, .2);
}
