<!doctype html>

<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Типографика | Блок [text]</title>

    <meta name="description" content="{description}">
    <meta name="keywords" content="{keywords}">

    <!-- Open Graph Basic Metadata
         INFO: see http://ogp.me/#metadata -->
    <meta property="og:type" content="website">
    <meta property="og:url" content= "http://ahtohbi4.github.io/typography/">
    <meta property="og:title" content="Web-разработка">
    <meta property="og:image" content="{uri}">

    <!-- Open Graph Optional Metadata
         INFO: see http://ogp.me/#optional -->
    <meta property="og:description" content="{description}">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="Типографика">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="format-detection" content="telephone=no">

    <link rel="canonical" href="http://ahtohbi4.github.io/typography/">

    <link rel="prerender" href="http://ahtohbi4.github.io/">

    <link rel="stylesheet" href="compiled/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
</head>

<body class="page typography">
    <h1 class="typography__viewport">
        <div class="typography__axis typography__axis_type_top">
            <div class="typography__axis-label">top</div>
        </div>
        <div class="typography__axis typography__axis_type_text-top">
            <div class="typography__axis-label">text-top</div>
        </div>
        <div class="typography__axis typography__axis_type_superscript-baseline">
            <div class="typography__axis-label">super</div>
        </div>
        <div class="typography__axis typography__axis_type_middle">
            <div class="typography__axis-label">middle</div>
        </div>
        <div class="typography__axis typography__axis_type_baseline">
            <div class="typography__axis-label">baseline</div>
        </div>
        <div class="typography__axis typography__axis_type_subscript-baseline">
            <div class="typography__axis-label">sub</div>
        </div>
        <div class="typography__axis typography__axis_type_text-bottom">
            <div class="typography__axis-label">text-bottom</div>
        </div>
        <div class="typography__axis typography__axis_type_bottom">
            <div class="typography__axis-label">bottom</div>
        </div>
        <sub>sub</sub>Typography<sup>sup</sup>
    </h1>

    <p>
        <span>Axis:</span>
        <span class="radio-button">
            <label class="radio-button__radio">
                <input name="axis" value="" type="radio" class="radio-button__input typography__control" checked>
                <span class="radio-button__label">none</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="top" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">top</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="text-top" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">text-top</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="superscript-baseline" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">super</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="middle" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">middle</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="baseline" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">baseline</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="subscript-baseline" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">sub</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="text-bottom" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">text-bottom</span>
            </label>
            <label class="radio-button__radio">
                <input name="axis" value="bottom" type="radio" class="radio-button__input typography__control">
                <span class="radio-button__label">bottom</span>
            </label>
        </span>
    </p>

    <p class="main__social">
        <a class="github-button" href="https://github.com/ahtohbi4" aria-label="Follow @ahtohbi4 on GitHub">@ahtohbi4</a>
    </p>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

    <script data-main="index" src="lib/require.js"></script>
</body>
</html>
